<div class="container-fluid footer text-white">
  <div class="row">
    <div class="col-sm-3 footer-column">
      <h2>Useful Links</h2>
      <hr>
      <ul>
        <li><a href="{% url 'index' %}" class="text-white">Home</a></li>
        <li><a href="{% url 'menu' %}" class="text-white">Menu</a></li>
        <li><a href="{% url 'gallery' %}" class="text-white">Gallery</a></li>
        <li><a href="{% url 'contact' %}" class="text-white">Contact Us</a></li>
      </ul>
    </div>

    <div class="col-sm-5 footer-column">
      <h2>Address</h2>
      <hr>
      <h4 class="mg-1">Radhe by Paras <br> Catering Services</h4><br>
      <p>Near Vimayojna Davakhana, Paldi Gam, <br> Ahmedabad 07</p>
    </div>

    <div class="col-sm-4 footer-column">
      <h2 class="mg-1">Contact</h2>
      <hr>
      <ul>
        <li class="mg-2 text-white">Phone : <a href="tel:+91-98250-71229">9825071229</a></li>
        <li class="cursor">radhecaterersinfo@gmail.com</li>
      </ul>
    </div>
  </div>

  <div class="rights-reserved text-center">
    <div class="social-media-icons">
      <a href="https://www.instagram.com/radhebyparas?igshid=g2yg3y0iiysq"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/radhe.caterers"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </div>
    <br>
    <span>@2020 All Rights Reserved</span>
  </div>

</div>
